<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czw.project" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.GET_TASKS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="g2Dj3A0ZTzpZm94iUZggpuyR" />

        <activity android:name=".activity.TabMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearcFarm" >
        </activity>

        <activity
            android:name=".activity.MyInfo"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.AppSetting"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.PublishActivity"
            android:label="@string/title_activity_publish" >
        </activity>
        <activity
            android:name=".activity.TourStoryMoreInfo"
            android:label="@string/title_activity_tour_story_more_info" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
        <activity
            android:name=".activity.FarmStoryMoreInfo"
            android:label="@string/title_activity_farm_story_more_info" >
        </activity>
        <activity
            android:name=".activity.PositionActivity"
            android:label="@string/title_activity_position">
        </activity>
    </application>

</manifest>
